.chat-main {
    width: 50%;
    height: 90vh;
    border-radius: 9px;
    background-color: #2e2e2ee8;
    padding: 0px 9px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 0px;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-info-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 9px;
    box-sizing: border-box;
    background-color: #17212b;
    box-sizing: border-box;
    cursor: pointer;
    gap: 9px;
}

.chat-profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.chat-info-flex {
    width: 80%;
    gap: 9px;
}

.chat-name {
    font-size: 17px;
}

.chat-name-text {
    flex-direction: column;
}

.chat-followers {
    font-size: 15px;
}

.chat-sec {
    width: 100%;
    height: 100vh;
    gap: 9px;
}

.input-sec {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #17212b;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
}

.chat-input {
    width: 92%;
    height: 45px;
    border: 0px solid #ccc;
    outline: 0;
    font-size: 17px;
    padding-inline-start: 9px;
    background-color: #17212b;
    color: #fff;
}

.chat-send-button {
    background-color: transparent;
    border: 0;
    height: 40px;
    outline: 0;
}

.chat-send-icon {
    width: 28px;
    height: 28px;
    filter: invert(87%) sepia(99%) saturate(1027%) hue-rotate(41deg) brightness(96%) contrast(106%);
    cursor: pointer;
}

.chat-emojy-icon {
    user-select: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(108%) contrast(101%);
}

.emojy-box {
    position: absolute;
    bottom: 43px;
    right: 10px;
    width: 330px;
    height: 220px;
    background-color: #111111;
    border-radius: 6px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 6px;
    box-sizing: border-box;
    gap: 6px;
    flex-wrap: wrap;
}

.emojy-item {
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

.select-chat {
    margin-top: 40%;
    font-size: 17px;
}

.chat-messages-sec {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    padding: 0 9px;
    gap: 9px;
    box-sizing: border-box;
    margin-top: 75px;
    margin-bottom: 60px;
    overflow-y: auto;
    scroll-behavior: smooth;
}


.chat-message-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 6px;
    padding: 3px 6px;
    border-radius: 9px;
    background-color: #17212b;
    min-width: 150px;
    max-width: 300px;
}

.chat-message-item.private {
    min-width: 0px;
    padding: 4px 8px;
}

.message-text {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 17px;
}


.seen-icon {
    width: 18px;
    height: 18px;
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(208deg) brightness(111%) contrast(99%);
}

.chat-message-item-sec {
    display: flex;
    align-items: center;
}

.chat-message-item-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;

}

.chat-message-item-sec-flex {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 9px;
}

.chat-message-item-sec-flex.sender {
    justify-content: end;
    flex-direction: row-reverse;

    .chat-message-item {
        text-align: start;
        background-color: #2b5278;
    }
}

.chat-message-item-sec-flex.reciver {
    flex-direction: row;
    justify-content: start;

    .chat-message-item {
        justify-content: start;
    }
}

.message-sender-name {
    width: 100%;
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.send-message-button-sec {
    width: 100%;
    text-decoration: none;
}

.send-message-button {
    width: 98%;
    height: 35px;
    border: 0;
    border-radius: 9px;
    background-color: #53FC18;
    font-size: 17px;
    cursor: pointer;
}

.back-icon {
    font-size: 22px;
    cursor: pointer;
}

/* responsive */
@media (max-width:800px) {
    .chat-main {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}