.chat-main {
    width: 50%;
    height: 90vh;
    border-radius: 9px;
    background-color: #2e2e2ee8;
    padding: 0px 9px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 0px;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-info-section  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 9px;
    box-sizing: border-box;
    background-color: #17212b;
    box-sizing: border-box;
}

.chat-profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.chat-info-flex {
    gap: 9px;
}

.chat-name {
    font-size: 17px;
}

.chat-name-text {
    flex-direction: column;
}

.chat-followers {
    font-size: 15px;
}

.chat-sec {
    width: 100%;
    height: 100vh;
    gap: 9px;
}

.input-sec {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #17212b;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
}

.chat-input {
    width: 92%;
    height: 45px;
    border: 0px solid #ccc;
    outline: 0;
    font-size: 17px;
    padding-inline-start: 9px;
    background-color: #17212b;
    color: #fff;
}

.chat-send-button {
    background-color: transparent;
    border: 0;
    height: 40px;
    outline: 0;
}

.chat-send-icon {
    width: 28px;
    height: 28px;
    filter: invert(87%) sepia(99%) saturate(1027%) hue-rotate(41deg) brightness(96%) contrast(106%);
    cursor: pointer;
}

.chat-emojy-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(108%) contrast(101%);
}

.emojy-box {
    position: absolute;
    bottom: 43px;
    right: 10px;
    width: 330px;
    height: 220px;
    background-color: #111111;
    border-radius: 6px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 6px;
    box-sizing: border-box;
    gap: 6px;
    flex-wrap: wrap;
}

.emojy-item {
    font-size: 22px;
    cursor: pointer ;
}

.select-chat {
    margin-top: 40%;
    font-size: 17px;
}

.chat-messages-sec {
    width: 100%;
    flex-direction: column;
    padding: 0 9px;
    gap: 9px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: auto;
}

.chat-message-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    padding: 6px 9px;
    border-radius: 9px;
    background-color: #17212b;
    max-width: 250px;
}

.message-text {
    font-size: 17px;
}

.seen-icon {
    width: 18px;
    height: 18px;
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(208deg) brightness(111%) contrast(99%);
}

.chat-message-item-sec {
    width: 100%;
    display: flex;
    align-items: center;
}

.chat-message-item-sec.sender {
    justify-content: end;
    .chat-message-item {
        background-color: #2b5278;
        text-align: end;
    }
}

.chat-message-item-sec.reciver {
    justify-content: start;
}